body {
    margin-top: 3%;
}

 .red-transparent {
            border: 2px solid #ff0000;
            box-shadow: inset 0 0 0 1px #ff0000;
}
.red-impedimento {
    background-color: #ff00004a;
}
/* Estilos para a mensagem flutuante */
.floating-message {
    position: absolute;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    box-shadow: 0 2px 4px;
    border-color:gba(0, 0, 0, 0.1);
}

.custom-border td {
    border-color: #C0C0C0;
    border-width: 3px; 
}
#tbl_ext{
    font-style: italic;
    font-family: 'Times New Roman', serif;
}
#tbl_ext td {
    border-color: #C0C0C0;
    border-width: 1px; 
}