<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Menu</title>
</head>
<body>
    <div style="width:50%;" class="mx-auto">
        <h4>Menu para seleção da tabela correspondente ao semestre</h4>
        <form id="semestreAno">
            <div class="form-group">
                <label for="select1">Qual o semestre?</label>
                <select required="required" class="form-control" id="select1">
                    <option value="par">Par</option>
                    <option value="impar">Impar</option>
                </select>
            </div>
            <button type="button" onclick="selectCourse()" class="btn btn-primary">Selecionar</button>
        </form>

        <form id="semestreCurso" method="post" action = "redirect" style="display:none">
            {% csrf_token %}
            <div class="form-group">
                <label for="select2">Qual o semestre do Curso?</label>
                <select required="required" class="form-control"  name="select2" id="select2">
                </select>
            </div>
            <input type="submit" class="btn btn-primary">
            <button type="button" onclick="voltar()" class="btn btn-primary">Voltar</button>
        </form>
        <hr>
        <hr>
        
        <h4>Carregar dados no sistema com planilhas</h4>
        <form method="post" action="{% url 'process_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
            <label for="inputFile" class="form-label">Escolha a planilha para upload</label>
            <input type="file" class="form-control" id="inputFile" name="excel_file">
            </div>
            <div class="mb-3">
            <label for="inputType" class="form-label">Tipo de Planilha</label>
            <select class="form-select" id="inputType" name="excel_type">
                <option value="pref_disc_hro">Preferências de Disciplinas e Horários</option>
                <option value="pref_hro_2">Preferências de Horário para o 2º semestre</option>
            </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>         
        <hr>
        <hr>
        <h4>Fazer download das planilhas com as informações do sistema</h4>
        <form method="POST" action="{% url 'download_excel_data'%}">
            {% csrf_token %}
            <select name="type" class="form-control">
                <option value="dist_si" selected>Distribuição SI</option>
                <option value="docente">Docentes</option>
            </select>
            <select name="semestre" class="mt-3 form-control">
                <option value="impar" selected>Impar</option>
                <option value="par">Par</option>
            </select>
            <button type="submit" class="mt-3 btn btn-success">Baixar</button>
        </form>

    </div>
   <script>

        function selectCourse(){
            e = document.getElementById("select1").value;
            document.getElementById("semestreAno").style.display="none";
            document.getElementById("semestreCurso").style.display="block";
            valueSemestre = document.getElementById("select2")
            if(e == "impar")
                for(var i = 1; i<=7; i+=2){
                    var opt = document.createElement("option");
                    opt.value = i;
                    opt.innerHTML = i;
                    valueSemestre.appendChild(opt);
                }
            else if(e == "par")
                for(var i = 2; i<=8; i+=2){
                    var opt = document.createElement("option");
                    opt.value = i;
                    opt.innerHTML = i;
                    valueSemestre.appendChild(opt);
                }

        }
        
        function voltar(){
            document.getElementById("select2").innerHTML = "";
            document.getElementById("semestreAno").style.display="block";
            document.getElementById("semestreCurso").style.display="none";
        }
    </script>
</body>
</html>  